flask-env/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
static/uploaded_files/*.png
static/uploaded_files/*.jpg
static/uploaded_files/*.gif