
body{
		overflow-x: hidden;

}

.white, .white a {
 	color: #fff;
}

.black, .black a {
 	color: #01182C;
}

.red, .red a {
	color: #CD0606;

}

.green, .green a {
	color: #0DA302;
	
}


/* start header styles */

.header_container{
	height:auto;
	position:relative;
	padding:0px;
}

.page-content{
	min-height:75vh;
}

#top_nav_menu{
	height:100px;
	background-size:70px 70px;
	background-position:30px 30px;
	background-repeat:no-repeat;
	background-image:url('/static/images/store/ss3.png');
	padding:0px;
	padding-right:40px;

}




#top_nav_menu .glyphicon{
	float:right;
	margin-top:5px;
	margin-left:30px;
}

#top_nav_menu .glyphicon:hover{
	cursor:pointer;
}

.search-bar{
	padding-top:80px;

}

.top-navbar {
	padding-top:80px;
	padding-left:80px;
	font-family: 'Nunito Sans', sans-serif;
	font-size:18px;
	color:#01182C;
	list-style:none;

}


.top-navbar a{
	color:black;
}

.top-navbar li{
	display:inline-block;
	height:40px;
	margin-left:40px;

}

.top-navbar li:hover{
}


/* nav bar submenu styles */

.nav_link_menu{
	display:none;
	position:absolute;
	z-index:100;
	top:0px;
	left:0px;
	width:140px;
	height:auto;
	padding-top:40px;
}


.nav_link_menu ul{
	padding-top:10px;
	padding-left:20px;
	font-family: 'Nunito Sans', sans-serif;
	font-size:16px;
	list-style:none;
	background-color:#333333;
	color:white;
}

.nav-dropdown{
	position:absolute;
	width:100vw;
}

.nav_link_menu ul a{

	color:white;
}


.nav_link_menu li{
	height:40px;

}

/* collection view styles */


.product_tile {
	background-origin:content-box;
	background-size:contain;
	background-position:center;
	background-repeat:no-repeat;
	padding:30px;
}

.product_tile_header{
	margin-top:-20px;
}


.product_tile:hover {
	opacity:0.8;
	cursor:pointer;
}

.product_tile h5 {
	position:relative;
	top:-20px;
	font-size:16px;
	font-family: 'Nunito Sans', sans-serif;
	padding-left:20px;


}


/* product details page styles */

#product_details {
	display:flex;
	flex-direction:column;



}

#product_details h4{
	font-size:22px;
	font-family: 'Nunito Sans', sans-serif;
}

#product_images {

}


#main_product_img {
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	background-origin:content-box;
	padding:30px;
}

.variant_product_img {
	border:1px solid #F2F2F2;
	height:100px;
	width:100px;
	float:left;
	margin-right:10px;
	margin-bottom:10px;
	background-position:center;
	background-size:contain;
	background-repeat:no-repeat;
}

.variant_choice{
	width:20%;
	height:40px;
}

.add_to_cart{

}

.add_to_cart h4{
	display:inline;
	position:relative;
	top:3px;

}
.add_to_cart .btn{
	height:40px;
}

.btn_removeFromCart{

	margin-top:5px;
	margin-left:10px;
}
.btn_updateQuantity{

	margin-top:5px;
	margin-right:-10px;
}

#cart_quantity{
	width:50px;
	height:30px;
	font-size:22px;
	font-family: 'Nunito Sans', sans-serif;
	position:relative;
	top:3px;
	margin-right:30px;
	margin-left:10px;
}


#message_container {
	position:absolute;
	display:none;
	height:100px;
	width:100%;
	background-color:white;
	z-index:100;
	font-family: 'Roboto', 'Nunito Sans', sans-serif;
	font-size:14px;
	color:black;
	border-top:1px solid rgba(53,53,53,0.2);
	padding:0px;
	left:0px;
}

#message_container h3{
	display:inline;
	font-size:16px;
}

#popup_product_img{
	height:100px;
	width:100px;
	background-position:center;
	background-size:contain;
	background-repeat: no-repeat;

}

#popup_text_cont{
	margin-left:20px;
}

.vcenter {
	float:none;
	display:inline-block;
	vertical-align: middle;
}



/* cart styles */


.shopping_cart_row{
	position:relative;
	margin-left:5px;

	height:auto;
	border-bottom:1px solid rgba(53,53,53,0.3);
	padding-bottom:10px;
	margin-bottom:10px;
}

.shopping_cart_row h3{
	font-size:16px;
	font-family: 'Nunito Sans', sans-serif;
}


.thumbnail_cart_60 {
	
}


.thumbnail_cart_40 {
	
}

.img-responsive {
  position: relative;
  max-width: 180px;
  max-height: 150px;
}

.checkout_item_details .checkout_item_total{
	
}

.table > tbody > tr > td {
     vertical-align: middle !important;
}


#btn_goCheckout{
	float:right;
}

#shopping_cart h3{
	font-size:22px;
	font-family: 'Nunito Sans', sans-serif;
}


#shopping_cart_checkout h3{
	font-size:16px;
	font-family: 'Nunito Sans', sans-serif;
	position:relative;
}



.h3-inline{
	font-family: 'Nunito Sans', sans-serif;
	display:inline;
	font-size:16px;

}


#table_checkout{
	border-right:1px solid #DDDDDD;

}

#shipping_info_container{
	display:none;

}

#billing_info_container{

}

#contact_info_container{
	padding-left:10px;

}

#payment_info_container{
	display:none;
	padding-left:10px;
}

.order_detail_text{
	font-style:;
}

.hr-top{
	position:relative;
	z-index:1000;
}

/* checkout styles */

#powered_by {
	display:none;
	position:relative;
	z-index:900;
	/*display:inline-block;*/
	font-size:18px;
}

#stripe_logo {
	display:none;
	position:relative;
	z-index:900;
	/*display:inline-block;*/
	background-image:url('/static/images/store/stripe_logo4.png');
	background-position:top center;
	background-repeat:no-repeat;
	background-size:100%;
	height:30px;
	width:108px;

}


.customer_info_input .input-group-addon{
	width:10%;
}

.input-group{
	margin-top:10px;
	width:100%;

}

.input-group-addon{
	background-color:white;
	

}
.customer_info_input .form-control {
	height:40px;
}

.placeholder_addon{

}


.valid_entry{
	display:none;
}

.invalid_entry{
	display:none;
}


	/* fix for alignment issues with glyphicons in input group addons */

.glyphicon {
	top:0px;
}

.h4-inline {
	font-family: 'Nunito Sans', sans-serif;
	font-size:16px;
	display:inline;
	float:left;

}

.h4-select-variant {
	font-family: 'Nunito Sans', sans-serif;
	font-size:16px;
	display:inline;

}

#available_variants {
	display:none;
}

#available_variant_sku{
	display:none;

}

#ship_to_address_grp {
	float:right;
}

#chk_ship_to_address {
	
}

#order_billing_info h5{
	font-family: 'Nunito Sans', sans-serif;
	font-size:14px;
	display:inline;

}

#order_shipping_info h5 {
	font-family: 'Nunito Sans', sans-serif;
	font-size:14px;
	display:inline;
}



#checkout_action_bar {
	width:100%;
	margin-bottom:30px;
}

#btn_checkoutPrevious {
	width:50%;

}

#btn_checkoutNext {
	width:50%;

}

#error_message_container{
	position:relative;
	top:20px;
	width:100%;
	height:60px;
	font-size:14px;
	font-family: 'Nunito Sans', sans-serif;
}

#progress_button {
	position:absolute;
	bottom:-60px;
	display:none;
    right: 0;
    left: 0;
    margin: auto;


}

#confirm_order_container {
	display:none;
}

#order_details {
	padding-left:20px;
}

#order_billing_info{
	padding-left:30px;
}

#order_shipping_info{
	padding-left:30px;
}


#btn_confirmOrder{

	
}

#confirm_order_button{
	float:left;
	clear:left;
	width:100%;
}

.h4_cart {
	font-size:16px;
	font-family: 'Nunito Sans', sans-serif;
}


.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}


/* start home page styles */




/* login panel */

#btn_login {
	width:100%;
	height:50px;
	font-size:22px;
	font-family: 'Nunito Sans', sans-serif;
	border:1px solid black;
}


#login_form input{
	width:100%;
	height:50px;
	font-size:22px;
	font-family: 'Nunito Sans', sans-serif;
}


.home_product_tile{
	position:relative;

}

.home_product_tile_xxl{
	height:40vh;
	position:relative;

}


.product_cont{
	width:100%;
	height:100%;
	margin:0 auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	background-color:white;
	background-origin:content-box;
	padding:20px;
}

.product_cont:hover{
	opacity:0.9;
	cursor:pointer;
}


.product_title{
	font-family: 'Nunito Sans', sans-serif;
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	margin:0 auto;
	font-size:14px;
}

.product_title.xxl{
	font-size:18px;
	
	
}

.product_row{
	margin-top:20px;
	position:relative;
}

.btn_rowScroll{
	position:absolute;
	top: 50%;
    transform: translateY(-50%);
	height:50%;
	width:40px;
}

.btn_rowScroll.full_width_r{
	right:100px;
}

.btn_rowScroll.full_width_l{
	left:100px;

}

.btn_rowScroll:focus {
	outline: none;
}

.btn_rowScroll:active:focus {
	outline: none;
}


.btn_scrollRight {
	right:-10px;
}

.btn_scrollLeft {
	left:-10px;
}



.glyph-lg{
	font-size:1.3em;
	font-weight:normal;
}

.glyph-xxl{
	font-size:1.6em;
	font-weight:normal;
}



.product_metadata{
	display:none;
}

.tile_product_image{
	background-size:100% 100%;
	background-position:0 0;
	background-repeat:no-repeat;
}

#tile_a {
	font-family: 'Nunito Sans', sans-serif;
	
}

#tile_b {
	background-image:url('/static/images/store/man_typing.jpg');
	background-size:100% 400px;
}

.product_image {
	margin:0 auto;
	height:30%;
	width:60%;
	background-size:100% 100%;
	background-position:0 0;
	background-repeat:no-repeat;
	background-image:url('/static/images/store/keyboard3.png');

}

h3{
	font-size:30px;
}


/* start footer styles */

#footer {

	height:100px;
}


/* live chat styles */

#live_chat_panel{
    
    width:300px;
    right:0px;
    bottom:0px;
    position:fixed;
    overflow-x:hidden;
    z-index:2000;
}

#live_chat_panel_row{
    height:100%;
}

#live_chat_panel_body{
    height:500px;
    padding:20px;
}


#live_chat_guests{
    height:100%;
    overflow-y:scroll;
}

#live_chat_window{
    height:100%;
    overflow-y:scroll;
}

.btn-chat-user{
    width:100%;
}

.chat_toolbar{

}

#input_liveChatMessage{

}

#h4_live_chat{
	display:inline;
	color:white;
}

.toUser-message{
    float:left;
    clear:both;
    border:1px solid rgba(53,53,53,0.1);
    margin-bottom:10px;
    font-family: 'Nunito Sans', sans-serif;
    font-size:12px;
    padding:5px;
    border-radius:5px;
    background-color:rgba(53,53,53,0.2);
}

.fromUser-message{
    float:right;
    clear:both;
    border:1px solid rgba(53,53,53,0.1);
    margin-bottom:10px;
    font-family: 'Nunito Sans', sans-serif;
    font-size:12px;
    padding:5px;
    border-radius:5px;
    background-color:rgba(53,53,53,0.2);
}



#btn_toggleLiveChat{
	text-decoration:none;
}

#btn_toggleLiveChat:hover{
	text-decoration:none;
	opacity:0.8;
}