#top_nav_menu_lulu{
	height:80px;
	background-color:#333333;
	padding:0px;
	padding-left:50px;
	padding-right:50px;
	padding-top:30px;
}

.nav_main_link {
	float:left;
	display:inline-block;
	margin-left:30px;
	text-decoration: none;
    text-transform: uppercase;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.14em;
    color: rgba(242, 242, 242, 0.9);
    padding-bottom:7px;
}

.nav_main_link:hover{
	text-decoration: none;
    color: rgba(242, 242, 242, 0.9);
	border-bottom:1px solid red;

}


.nav_main_link_r {
	float:right;
	display:inline-block;
	margin-left:30px;
	text-decoration: none;
    text-transform: uppercase;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.14em;
    color: rgba(242, 242, 242, 0.9);
    padding-bottom:7px;
}



#nav_dropdown_lulu{
	top:80px;
	height:auto;
	display:flex;
	flex-direction:column;
	z-index:1000;
	background-color:#F2F2F2;
	display:none;
	border-bottom:1px solid rgba(53,53,53,0.2);
	padding-bottom:10px;

}

#nav_dropdown_lulu ul{
	text-decoration: none;
    text-transform: uppercase;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.14em;
    color: rgba(53, 53, 53, 0.9);
	list-style:none;
	padding-top:10px;
}



#nav_dropdown_lulu h4{
	text-decoration: none;
    text-transform: uppercase;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.14em;
    color: rgba(53, 53, 53, 0.9);
	list-style:none;
	padding-top:0px;
	margin-left:40px;
}

#nav_dropdown_lulu h4:hover{
	padding-left:5px;
	cursor:pointer;
}

#nav_dropdown_lulu li{
	margin-top:5px;
}

#nav_dropdown_lulu li>a{
	text-decoration:none;
	color:inherit;
}

#nav_dropdown_lulu li:hover{
	padding-left:5px;
	border-left:1px solid red;
	cursor:pointer;
}


.nav-column{
	flex:1;
	padding-top:5px;
	height:150px;
	margin-top:15px;
}


/* footer styles */

.footer-column{
	padding-top:5px;
	height:150px;
	margin-top:15px;
	border-bottom:1px solid rgba(53,53,53,0.2);
}

#footer_lulu{
	bottom:0px;
	height:auto;
	z-index:1100;
	background-color:white;
	border-top:1px solid rgba(53,53,53,0.2);
	border-bottom:1px solid rgba(53,53,53,0.2);
}

#footer_lulu ul{
	text-decoration: none;
    text-transform: uppercase;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.14em;
    color: rgba(53,53,53,0.9);
	list-style:none;
	padding-top:10px;

}

#footer_lulu li{
	margin-top:5px;
}

#footer_lulu h4{
	text-decoration: none;
    text-transform: uppercase;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.14em;
	color: rgba(53,53,53,0.9);
	list-style:none;
	padding-top:0px;
	margin-left:40px;
}

#footer_lulu h4:hover{
	padding-left:5px;
	cursor:pointer;
}


#footer_lulu li{
	margin-top:5px;
}

#footer_lulu li>a{
	text-decoration:none;
	color:inherit;
}

#footer_lulu li:hover{
	padding-left:5px;
	border-left:1px solid red;
	cursor:pointer;
}



.outer-container{
	position:relative;
	height:auto;
	background-repeat:no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow-y:hidden;
}


.inner-container{
	position:relative;
	font-family: "Roboto", "Arial", sans-serif;
	color:#333333;
    font-size: 22px;
    font-weight: 200;
    letter-spacing: 0.10em;
 	margin:0 auto;
	width:100%;
	height:auto;
	padding:20px;
}

.inner-container h5{
	display:inline-block;
	font-family: "Roboto", "Arial", sans-serif;
	color:#333333;
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 0.14em;
    position:relative;
    top:-3px;
    background-color:white;
    padding:10px;
    border-radius:5px;
    border:1px solid rgba(53,53,53,0.4);
}

.inner-container .h3-inline{
	display:inline-block;
	margin-top:0px;
	font-family: "Roboto", "Arial", sans-serif;
	color:#333333;
    font-size: 30px;
    font-weight: 200;
    letter-spacing: 0.1em;
}

.inner-container .h3-header{
	display:inline-block;
	margin-top:0px;
	font-family: "Roboto", "Arial", sans-serif;
	color:#333333;
    font-size: 40px;
    font-weight: 200;
    letter-spacing: 0.1em;
}

.h3-feature{
	display:inline-block;
	margin-top:0px;
	font-family: "Roboto", "Arial", sans-serif;
	color:#333333;
    font-size: 25px;
    font-weight: 200;
    letter-spacing: 0.14em;

}

#btn_reserveSeat{
	margin-top:10px;
}

#powered_by_stamp{
	padding-top:10px;
	padding-right:50px;
}


#header_logo{
	display:inline-block;
	height:120px;
	width:120px;
	background-image:url('/static/images/store/full_plate_6.png');
	background-repeat:no-repeat;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	margin-top:-20px;
}



h4{
	font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.14em;
    color: rgba(53,53,53, 0.9);
}

.recipe{
	background-repeat:no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position:center;
	background-origin:content-box;
	padding:20px;
}

.tile-link{


}

.tile-link:hover{
	opacity:0.9;
}

/* smartshare website styles -> to be moved into a separate stylesheet */

#ampiri_demo{
	position:relative;
	height:50vh;
	background-repeat:no-repeat;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	background-position:center;
	width:100%;
	background-image:url('/static/images/store/ss_images/platform_ss2.png');
}



.demo_split_three{
	position:relative;
	height:400px;
	background-repeat:no-repeat;
	background-origin:content-box;
	padding:20px;
	background-size: 100%;

}

#split_0{
		background-image:url('/static/images/store/ss_images/demo_split_0.png');
}

#split_1{
		background-image:url('/static/images/store/ss_images/demo_split_1.png');
}

#split_2{
		background-image:url('/static/images/store/ss_images/demo_split_0.png');
}

.pricing-tab{
	height:400px;
	padding-left:50px;
	padding-top:50px;
	
}

.pricing-tab h3{
	font-family: "Roboto", "Arial", sans-serif;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 0.14em;
    color: rgba(53,53,53, 0.9);
}

.pricing-row{
	border-top:1px solid rgba(53,53,53,0.4);
}

.pricing-banner{
	background-color:#344733;
	height:300px;
	color:white;
}

.info-banner{
	border-bottom:1px solid rgba(53,53,53,0.4);
	border-top:1px solid rgba(53,53,53,0.4);	
	margin-bottom:20px;
}

.info-banner h3{
	margin-top:40px;
	font-family: "Roboto", "Arial", sans-serif;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 0.14em;
    color: rgba(53,53,53, 0.9);
}

.banner-text{
	height:500px;
	padding-left:50px;
	padding-right:50px;
}

.banner-text p{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.14em;
    color: rgba(53,53,53, 0.8);
    line-height:1.4em;
}

.banner-image{
	height:500px;
	background-repeat:no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}

.glyph-container{
	font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgba(53,53,53, 0.8);
    line-height:1.4em;
	height:120px;
}

.glyph-large{
	margin-top:20px;
	font-weight: 200;
	font-size:60px;
}

.btn-large{
	font-size:16px;
	height:50px;
}

.services-strip{
	padding-top:40px;
	border:0px;
	border-top:1px solid #344733;
	background-color:white;
	height:auto;
	color:white;
	padding-bottom:30px;
}

.services-btn{
	border:0px;
	height:100%;
	display:inline-block;
}
.services-btn div{
	border:0px;
	margin-right:20px;
}


/* narrow splash styles */

.narrow-outer-container{
	position:relative;
	height:30vh;
	background-repeat:no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}


.narrow-inner-container{
	position:relative;
	font-family: "Roboto", "Arial", sans-serif;
	color:#333333;
    font-size: 22px;
    font-weight: 200;
    letter-spacing: 0.10em;
 	margin:0 auto;
	width:100%;
	height:100px;
	padding:20px;
}

.narrow-inner-container h5{
	display:inline-block;
	font-family: "Roboto", "Arial", sans-serif;
	color:#333333;
	font-size: 18px;
    font-weight: 200;
    letter-spacing: 0.14em;
    position:relative;
    top:-3px;

}

.narrow-inner-container .h3-inline{
	display:inline-block;
	margin-top:0px;
	font-family: "Roboto", "Arial", sans-serif;
	color:#333333;
    font-size: 30px;
    font-weight: 200;
    letter-spacing: 0.1em;
}

.narrow-inner-container .h3-header{
	background-color:#333333;
	display:inline-block;
	padding:10px;
	margin-top:0px;
	font-family: "Roboto", "Arial", sans-serif;
	color:white;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0.1em;
    margin-left:30px;
    border-radius:4px;
}


.contact-tile{
	display:inline-block;
	height:500px;
	margin:0px;
}

/* end narrow splash styles */

/* pricing banner */

.price-row{
	border-top:1px solid #333333;
	font-family: 'Raleway', sans-serif;
	color:#333333;
	border-top:0px;
	position:relative;
}


.price-row .btn-container{
	position:absolute;
	bottom:20px;
	width:100%;
	left:-5px;
}


.price-row.label {
	font-size:10px;
	padding:5px;
	margin:1px 1px 1px 1px;
	}
	
.price-row li {
	list-style-type:none;
	}
	
.price-row h1 {
	font-size:22px;
	}
	
.price-row h3 {
	font-size:16px
	}

.price-description {
	border-top:0px;
	height:425px;
}

.price-card{
	font-family: 'Raleway', sans-serif;
	font-size:12px;
	padding:20px;
	margin:5px 5px 5px 5px;
	height: 400px;
	border-width: 2px;
	border: 2px solid #333333;
	border-radius; 15px 15px 15px 15px;
	box-shadow: 10px 10px 5px #888888;
	background-color:#F0F8FF;
}

.featured-price-card{
	font-family: 'Raleway', sans-serif;
	font-size:12px;
	padding:20px;
	margin:5px 5px 5px 5px;
	height: 400px;
	border-width: 2px;
	border: 2px solid #333333;
	border-radius; 15px 15px 15px 15px;
	box-shadow: 10px 10px 5px #888888;
	background-color:#F0F8FF;


}


/* end pricing banner */

/* begin slideshow styles */
#slideshow_container{
	height:70vh;
}

#main_slideshow{
	position:relative;
	top:50px;
	height:100%;
	background-image:url('/static/images/store/macbook_screen.png');
	background-repeat:no-repeat;
	background-size:100% 100%;
	padding:0px;
}


#slideshow_contents{
	margin:0 auto;
	height:100%;
	width:95%;
	position:relative;
	top:5%;
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-image:url('/static/images/store/lyra_1.png');
}

/* end slideshow styles */

/* email capture styles */


.email-signup-container {
	font-family: "Roboto", "Arial", sans-serif;
	color:#333333;
    font-size: 16px;
    font-weight: 200;

    letter-spacing: 0.10em;
	height:auto;
	background-color:#f3f4f6;
	padding-top:40px;
	border-top:1px solid rgba(53,53,53,0.5);
	}

.email-capture {
	margin-top: 30px;
	height:120px;
	}

.email-text{
	height:120px;
}

.input_email{
	border:1px solid #e3bd32;
	color:#5e573e;
	background-color:white;
	height:60px;
	font-family:"Raleway";
	font-size:24px;
	width:50%;
}

.input_email:hover{
	color:black;
}

#btn_demoSignUp{
	height:60px;

}


/* end email capture styles */