{% block page_content %}
<div class="row">
	<div class="col-xs-12 banner">
	<h4 id="h4_banner"> <span class="glyphicon glyphicon-tags"></span> &nbsp; <a href="/control/products/">Products</a> / <a href="/control/products/collections">Collections</a> </h4>
	

	
		<button type="button" class="btn btn-primary btn_float_right" id="btn_addCollection">Create new collection</button>
	</div>
</div>



<div class="row">
	<div class="col-xs-12" id="search_products">
		{{ control_data.productSearchPanel | safe }}
	</div>
</div>

{{ control_data.productCollectionActionPanel | safe }}

<div class="row">
	<div class="col-xs-12 tab_content">
	{{ control_data.productCollectionTable | safe }}
	</div>
</div>


<div class="row">
	<div class="col-xs-12" id="footer_products">
				
	</div>
</div>



{% endblock page_content %}

