{% block page_content %}
<div class="row">
	<div class="col-xs-12 banner">
	
	<h4 id="h4_banner"> <span class="glyphicon glyphicon-tags white"></span> &nbsp;  <a href="/control/products/">Products</a> </h4>

	<button type="button" class="btn btn-default" id="btn_addProduct" data-toggle="modal" data-target="#modal_addProduct">Add product &nbsp;&nbsp; <span class="glyphicon glyphicon-plus-sign off_black"> </span> </button>

	</div>
</div>




<div class="row">
	<div class="col-xs-12" id="search_products">
		{{ control_data.productSearchPanel | safe }}
	</div>
</div>

{{ control_data.productActionPanel | safe }}

<div class="row">
	<div class="col-xs-12 tab_content">

		{{ control_data.productMainTable | safe }}
	</div>
</div>


<div class="row">
	<div class="col-xs-12 control_panel_footer">
				
	</div>
</div>

		{% for modal in control_data.modals %}
			{{ modal | safe }}
		{% endfor %}


{% endblock page_content %}