<div id="modal_updateInventory" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Update Inventory </h4>
      </div>
      <div class="modal-body">
      
        <div class="input-group">
          <span class="input-group-addon" id="type-addon"> Inventory quantity </span>
          <span class="input-group-addon">
            <input type="text" class="form-control" id="input_product_inventory" value="">
          </span>
          <span class="input-group-addon">
            <button type="button" class="btn btn-default" id="btn_increaseProductQty"> + </button>
            <button type="button" class="btn btn-default" id="btn_decreaseProductQty"> - </button>
          </span>
        </div>

      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="btn_updateInventoryQty">Update</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>



