	{% if variants|length >= 1 %}

	<table class="table table-responsive table-hover table-bordered">
	<thead>
		<tr>
			<th></th>
			<th> Variant </th>
		
		{% for field in selectedFields %}
			<th>{{field}}</th>
		{% endfor %}

		</tr>
	</thead>
	<tbody>

	{% for product in variants %}
		<tr class="variant_row" id="product_{{product.product_id}}">
			<td class="thumbnail_product_40" style="background-image:url('{% if product.VariantImage == "" %}{{ product.ImageSrc }} {% else %} {{ product.VariantImage }} {% endif %}');"> </td>
		    <td> {{ product.Title }} ({{ product.Option1Value }})</td>
			{% for field in selectedFields %}
			<td> 
				 <input type="text" value="{{product[field]}}" id="{{field}}_{{product["product_id"]}}" class="bulk_editor_input_field">
			</td>
		    {% endfor %}
		
		</tr>
	{% endfor %}

	</tbody>
	</table>
	{% else %}

	<h5> <b>Looks like there aren't any variants of this product. </b></h5>
	
	{% endif %}

	<input type="hidden" value="{% for product in variants %}{{product.product_id}},{% endfor %}" id="variantIDList"> 	
	<input type="hidden" value="{% for field in selectedFields %}{{field}},{% endfor %}" id="selectedFields">

