{% block page_content %}
<div class="row">
	<div class="col-xs-12 banner">
	<h4 id="h4_banner"> <span class="glyphicon glyphicon-tags"></span> &nbsp; <a href="/control/products/">Products</a> / <a href="/control/products/collections">Collections</a> / {{ control_data.collection_data.Title }} 	&nbsp; <span class="glyphicon glyphicon-pencil"></span> </h4>

		<button type="button" class="btn btn-warning" id="btn_deleteCollection">Delete Collection  <span class="glyphicon glyphicon-trash"> </span> </button>
		<button type="button" class="btn btn-primary" id="btn_saveCollection" data-toggle="modal" data-target="#modal_saveCollection">Save Collection <span class="glyphicon glyphicon-floppy-disk"> </span> </button>
	</div>
		
</div>

<div class="row">
	<!-- Begin collection editor content div -->
	<div class="col-xs-12 tab_content">
		<div class="container-fluid main-content-container-sm">

		<div class="row">
			<!-- Begin: main collection editor column (left aligned) -->
			<div class="col-md-8" id="collection_editor_panel">

				<div class="panel panel-default" id="panel_collection_text_editor">
					<div class="form-group">
		  				<div class="input-group">
			  				<span class="input-group-addon"> Collection Title </span>
				  			<input type="text" class="form-control collection-input-field" data-fieldID="Title" value="{{control_data.collection_data.Title}}">
			  			</div>
						<br>
					
						<h5> Description </h5>
						<div class="panel panel-default" id="panel_collection_description_editor">
							<div id="collection_description_editor" contenteditable="true">
							</div>
						</div>

					</div>
				</div>

			<div class="panel panel-default" id="panel_collection_visibility">
				
					<div class="btn-group select_container" role="group">
						<label class="btn btn-default btn-noclick">
							Products are required to match all conditions 
						</label>
						
				 		<label class="btn btn-default">
							<input type='checkbox' class="collection-input-field selectTableItem" data-fieldID="Strict" data-fieldValue="1" {% if control_data.collection_data.Strict == 1 %}checked{% endif %}>
				        </label>
				 

					</div>


					
				<hr>	
				<!-- Begin condition form editor -->
				<div class="panel panel-default text-center" id="panel_collection_conditions">
					{% if formattedCollectionConditions | length == 0 %}
						<h5> This collection does not have any conditions yet. </h5>
					{% else %}
						{% for condition_id, condition in control_data.formattedCollectionConditions.iteritems() %}
							<input type="text" class="collection-condition" data-conditionID="{{condition_id}}" value="{{condition}}">
						{% endfor %}
					{% endif %}
				</div>
				<hr>
				<!-- start condition creation panel -->
				<div class="input-group">
		          <span class="input-group-addon" id="type-addon"> Set condition on </span>
		            <select class="form-control" id="select_newConditionType"> 
		              <option value="Tag"> Tag </option>
		              <option value="Title"> Title </option>
		              <option value="Type"> Type </option>
		              <option value="Price"> Price </option>
           			 </select>

           			 <span class="input-group-btn">
           			 	<button type="button" class="btn btn-success" id="btn_addCondition" >Add condition <span class="glyphicon glyphicon-plus"> </span> </button>
           			 </span>
      			  </div>

				
				<!-- end condition creation panel -->

				<!-- End: condition form editor -->

			</div>


			 <!-- Begin: products in collection panel -->
			<div class="panel panel-default" id="panel_product_text_editor">
			  		<h4> Products </h4>
					<hr>
			  		{{ control_data.collectionProductsTable | safe }}	
			</div>
			<!-- End: product variant editor panel -->

 			

 			</div>
 			<!-- End: main collection editor column (left aligned) -->

 			<!-- Begin: collection attribute editor column (right aligned) -->
			<div class="col-md-4" id="collection_editor_attributes">
				
				<div class="panel panel-default text-center" id="panel_collection_visibility">
					<h4> Collection Visibility </h4>
					<hr>
					
					 <div class="btn-group select_container" role="group">

       				 			<label class="btn btn-default">
									{% if control_data.collection_data.Published %}
										<input type='checkbox' class="collection-input-field selectTableItem" data-fieldID="Published" data-collectionID="{{control_data.collection_data.collection_id}}" checked> 
									{% else %}
										<input type='checkbox' class="collection-input-field selectTableItem" data-fieldID="Published" data-collectionID="{{control_data.collection_data.collection_id}}"> 
									{% endif %}
						        </label>
						 
								<label class="btn btn-default btn-noclick">
									Show in Online store? 
								 </label>
					</div>
				</div>

				<div class="panel panel-default text-center" id="panel_collection_image">

					<h4> Collection Image </h4>
					<hr>
					<div class="collection_image_main" style="background-image:url('{{control_data["collection_image_src"]}}');"></div>
					
					<input type="hidden" id="collection_img_src" value="{{control_data["collection_image_src"]}}">
					<hr>
					<button type="button" class="btn btn-primary" id="btn_uploadImage" data-toggle="modal" data-target="#modal_uploadImage">Upload Image
				</div>

			


			</div>
			<!-- End: collection attribute editor column (right aligned) -->

		</div>
	</div>
	<!-- End: Product editor content div -->
	</div>
</div>




<input type="hidden" id="collection_id" value="{{control_data.collection_data.collection_id}}">
<input type="hidden" id="collection_description" value="{{control_data.collection_data.BodyHTML}}">
<input type="hidden" id="product_tags" value="{% for tag in control_data.product_tags %}{{tag}},{% endfor %}">
<input type="hidden" id="product_types" value="{% for type in control_data.product_types %}{{type}},{% endfor %}">

<div class="row">
	<div class="col-xs-12" id="footer_products">	
		
	</div>
</div>

{% for modal in control_data.modals %}
	{{ modal | safe }}
{% endfor %}

{% endblock page_content %}