<! -- this template is for an input group for product searching within the admin control panel, allowing for product filtering and the like. -->



<div class="btn-group product_search_group" role="group" aria-label="product selection">
		<input type="text"  id="product_search_input" placeholder="Start typing to search for a product...">
		
	<select class="btn btn-default" id="search_filter">
		 <option value="Title"> Title </option>
		 <option value="Tags"> Tag </option>
		 <option value="Vendor"> Vendor </option>
	</select>

	  	<button class="btn btn-default" type="submit" id="submit_product_search">
    		<span class="glyphicon glyphicon-search"></span>
  		</button>
</div>

    

  <hr class="unpadded_hr">