<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Padauk" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">

	<!-- core control panel styles -->
	<link rel="stylesheet" href="/static/css/control.css?v={{data.ts}}">
	<link rel="stylesheet" href="/static/css/hover-min.css?v={{data.ts}}" media="all">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

	<!-- bokeh cdn includes -->

	<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.css"
    rel="stylesheet" type="text/css">
	
	<!-- these script includes should be moved to a common libraries template -->
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"> </script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"> </script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js"> </script>
	<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script> 

	<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.js"></script>


	{# 
	<!-- flask included stylesheets <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/control.css') }}"> --> 
	#}

	<title> Lyra Control Panel </title>
</head>

<body>
<div id="nav-bar">
	<ul class="sidebar-nav">
		<a href="/control/"> <li id="li_dashboard" class="hvr-float-shadow"> </li> </a> 
		<a href="/control/products"> <li id="li_products" class="hvr-float-shadow"> </li>  </a>
		<a href="/control/orders"> <li id="li_orders" class="hvr-float-shadow">  </li> </a>
		<a href="/control/customers"> <li id="li_customers" class="hvr-float-shadow">  </li> </a>
		<a href="/control/settings "><li id="li_settings" class="hvr-float-shadow">  </li> </a>
		<a href="/control/store"> <li id="li_store" class="hvr-float-shadow">  </li> </a>
		<!-- <li id="li_plugins" class="hvr-float-shadow">  </li> -->
	</ul>

	<nav class="navbar navbar-default navbar-inverse sidebar-nav-mobile" role="navigation">
			       <div class="navbar-header">
			           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationbar">
			               <span class="sr-only">Toggle navigation</span>
			               <span class="icon-bar"></span>
			               <span class="icon-bar"></span>
			               <span class="icon-bar"></span>
			            </button>
			            
			       </div>
			       <div class="collapse navbar-collapse" id="navigationbar">
			           <ul class="nav navbar-nav">
							<li><a href="/control/products" class="nav_main_link_mobile"> Products</a> </li> 
							<li><a href="/control/orders" class="nav_main_link_mobile"> Orders</a> </li> 
							<li><a href="/control/customers" class="nav_main_link_mobile"> Customers</a> </li> 
							<li><a href="/control/settings" class="nav_main_link_mobile"> Settings</a> </li> 
							<li><a href="/control/store" class="nav_main_link_mobile"> Store</a> </li> 


						
			           </ul>
			      </div><!-- /.navbar-collapse -->	
	</nav>

	<a href="/" id="a_backToStore">
	<button type="button" class="btn btn-default" id="btn_backToStore"><span class="glyphicon glyphicon-globe"> </span></button>
	</a>
	
</div>
<div id="wrapper">
	<div id="sidebar-wrapper" class="hidden-sm hidden-xs">
		{{ data.submenu }}
	</div>

	<div id="page-content-wrapper">
		<div class="container-fluid" id="tab_panel">
				
				{% block page_content %}
					{{ data.current_page_content | safe }}
				{% endblock page_content %}
				
			</div>
		</div>

	<input type="text" value="{{data.current_page}}" id="currentPage">
</div>




{% block script_includes %}

	<script src="/static/js/control_panel/control.js?v={{data.ts}}"> </script>
	<script src="/static/js/{{data.current_page_js}}?v={{data.ts}}"> </script>
	<script src="/static/js/{{data.current_class_js}}?v={{data.ts}}"> </script>
	<script src="/static/js/{{data.current_requests_js}}?v={{data.ts}}"> </script>

{% endblock script_includes %}






{% block modal_dialogs %}

	{% for modal in data.modals %}
		{{ modal | safe }}
	{% endfor %}

{% endblock modal_dialogs %}


</body>
</html>