	<ul class="sidebar-sub-nav">
			<li id="li_sub_nav_header" class="li_sub_nav_header">Settings</li>
			<a href="/control/settings/"><li id="li_link_settings_main" class="li_sub_nav_link"> General </li> </a>
			<a href="/control/settings/payment"><li id="li_link_settings_payment" class="li_sub_nav_link"> Payment </li> </a>
			<a href="/control/settings/shipping"><li id="li_link_settings_main" class="li_sub_nav_link"> Shipping </li> </a>
			<a href="/control/settings/"><li id="li_link_settings_main" class="li_sub_nav_link"> Taxes </li> </a>
			<a href="/control/settings/"><li id="li_link_settings_main" class="li_sub_nav_link"> Account </li> </a>
	</ul>