	<ul class="sidebar-sub-nav">
			<li id="li_sub_nav_header" class="li_sub_nav_header">Online store</li>
			<li id="li_link_store_settings_main" class="li_sub_nav_link"> General </li>
			<li id="li_link_store_settings_pages" class="li_sub_nav_link"> Pages </li>
			<li id="li_link_store_settings_navigation" class="li_sub_nav_link"> Navigation </li>
			<li id="li_link_store_settings_footer" class="li_sub_nav_link"> Footer </li>
			<li id="li_link_store_settings_file_manager" class="li_sub_nav_link"> File Manager </li>
			<li id="li_link_store_settings_theme_manager" class="li_sub_nav_link"> Theme Manager </li>
	</ul>