{% block page_content %}
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>


<div class="row">
	<div class="col-xs-12 banner">
	<h4 id="h4_banner"> <span class="glyphicon glyphicon-signal"></span> &nbsp;  <a href="/control/store/">Store</a> / <a href="/control/store/analytics"> Analytics </a> </h4>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 tab_content">
	<!-- Begin analytics settings content div -->
		<div class="container-fluid main-content-container-sm">
			<div class="row">
		<!-- Begin: analytics settings column (left aligned) -->


				
			<div class="col-lg-6 flex-panel">
				<div class="panel panel-default padded-panel">
					
					<h5> Google Analytics Script </h5> <hr>				
						<input type="text" class="form-control" id="analytics_script_input">
						<input type="hidden" id="initialAnalyticsScript" value="{{control_data.analytics_script}}">
				</div>
			</div>

			<div class="col-lg-6 flex-panel">
				<div class="panel panel-default padded-panel">
				
				
					</div>
				</div>

			</div>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-xs-12" id="footer_products">			
	</div>
</div>


{% endblock page_content %}