<div id="modal_deleteSection" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Delete section? </h4>
      </div>
      <div class="modal-body"></div>
          <p class="modal-message"> Are you sure you wish to delete this section? All stored content will be lost.</p>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" id="btn_deleteSection">Confirm Delete</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>

  </div>
</div>



