{% block page_content %}


<div id="theme_editor_container">
	<button type="button" class="btn btn-default valign" id="btn_closeThemeEditor"> Close Editor &nbsp; <span class="glyphicon glyphicon-remove"> </span> </button>

	<button type="button" class="btn btn-success valign" id="btn_savePageThemes"> Save &nbsp; <span class="glyphicon glyphicon-floppy-disk"> </span> </button>
	
	<div id="theme_toolbar">
	<h4> Theme editor &nbsp; <span class="glyphicon glyphicon-pencil"> </span> </h4>
	<hr>
		<div class="input-group">
		 		<span class="input-group-addon" id="type-addon">Page </span>
			<select class="form-control" id="select_page_id">
				{% for page_id, page in control_data.pages.iteritems() %}
					<option value="{{page_id}}"> {{page_id}} </option>
				{% endfor %}
			</select>					
		</div>
		<br>
		<div class="input-group">
		 		<span class="input-group-addon" id="type-addon">Type</span>
			<input type="text" class="form-control" id="label_page_type" readonly>					
		</div>
		<hr>
		<h4> Page sections: </h4><br>
		<div id="page_sections_container">
			
		</div>

		<hr>

		<div class="input-group">
		 		<span class="input-group-addon" id="type-addon">Section </span>
				<select class="form-control" id="select_section_snippet">
					{% for section_id, section_data in control_data.section_templates.iteritems() %}
						<option value="{{section_id}}"> {{section_id}} </option>
					{% endfor %}
				</select>	

				<button type="button" class="btn btn-primary" id="btn_addSection" data-toggle="modal" data-target="#modal_addSection"> Add &nbsp;<span class="glyphicon glyphicon-plus-sign"></span> </button>				
		</div>


		<div id="rendered_sections">
			{% for section_id, section_html in control_data.rendered_sections.iteritems() %}
				<div class="rendered_section_body" data-sectionID="{{section_id}}">
					{{ section_html | safe }}
				</div>
			{% endfor %}
		</div>

		<div class="data_container">
			{% for page_id, page in control_data.pages.iteritems() %}
					<input type="hidden" class="page_data page_id" data-pageID="{{page_id}}" value="{{page_id}}">
					<input type="hidden" class="page_data page_sections" data-pageID="{{page_id}}" value="{{page.sections}}">
					<input type="hidden" class="page_data page_type" data-pageID="{{page_id}}" value="{{page.type}}">
					<input type="hidden" class="page_data page_section_data" data-pageID="{{page_id}}" value="{{page.section_data}}">

			{% endfor %}
			{% for resource_id, resource in control_data.resources.iteritems() %}
					<input type="hidden" class="image_resource_uri" data-filename="{{resource.filename}}" data-resourceURI="{{resource.uri}}" data-resourceID="{{resource_id}}">
			{% endfor %}
		</div>


	</div>

	<div id="theme_preview_container">
		<iframe id="page_preview_container" src="/"></iframe>
	</div>

</div>


		{% for modal in control_data.modals %}
			{{ modal | safe }}
		{% endfor %}


{% endblock page_content %}