{% block page_content %}
<div class="row">
	<div class="col-xs-12 banner">
	<h4 id="h4_banner"> <span class="glyphicon glyphicon-wrench"></span> &nbsp;  <a href="/control/settings/">Settings</a> </h4>

		<button type="button" class="btn btn-primary" id="btn_exportSettings">Export settings</button>
	</div>
</div>


<div class="row">
	<div class="col-xs-12 tab_content">
	<!-- Begin settings main content div -->
		<div class="col-lg-12 flex-panel">
			<div class="panel panel-default padded-panel">
				<h4> <span class="glyphicon glyphicon-cog"></span> &nbsp;Platform settings </h4>
				<hr class="hr-defined">
				<div class="row settings-row">
					<div class="col-md-4">
						<a href="/control/settings/payment">
							<div class="col-lg-12 settings-tile text-center">
								 Payment <hr>
								<span class="glyphicon glyphicon-usd glyph-lg faded_black"></span>
							</div>
						</a>
					</div>

					<div class="col-md-4">
						<a href="/control/settings/shipping">
							<div class="col-lg-12 settings-tile text-center">
								 Shipping <hr>
								<span class="glyphicon glyphicon-plane glyph-lg faded_black"></span>
							</div>
						</a>
					</div>

					<div class="col-md-4">
						<div class="col-lg-12 settings-tile text-center">
							<a href="/control/store/navigation"> Taxes </a> <hr>
							<span class="glyphicon glyphicon-certificate glyph-lg faded_black"></span>
						</div>
					</div>
					
				</div>
				<hr>
			<div class="row settings-row">
					<div class="col-md-4">
						<div class="col-lg-12 settings-tile text-center">
							<a href="/control/store/navigation"> Account </a> <hr>
							<span class="glyphicon glyphicon-user glyph-lg faded_black"></span>
						</div>
					</div>

					<div class="col-md-4">
						<a href="/control/settings/advanced">
						<div class="col-lg-12 settings-tile text-center">
							Advanced <hr>
							<span class="glyphicon glyphicon-warning-sign glyph-lg faded_black"></span>
						</div>
						</a>
					</div>
					
					

					
				</div>
				
			</div>
			
		</div>
	</div>
</div>


<div class="row">
	<div class="col-xs-12" id="footer_products">			
	</div>
</div>


{% endblock page_content %}