{% if products | length != 0 %}

	{% for product, itemDetails in products.iteritems() %}

	<div class="row shopping_cart_row text-center"> 
		<div class="col-sm-4 thumbnail_cart_40" id="product_{{itemDetails[0].product_id}}"> 
			<img class="img-responsive center-block" src="{{product_thumbnail[itemDetails[0]["product_id"]]}}">

		</div>

		<div class="col-sm-4 checkout_item_details"> <h3> <a href="/product/{{itemDetails[0].product_id}}"> {{itemDetails[0].Title}} </a> </h3> <hr>

		<h4>SKU:{{itemDetails[0].VariantSKU}} </h4>
		</div>

		<div class="col-sm-4 checkout_item_total"> 
			<h4> {{itemDetails[1]}}  x <b>${{ '%0.2f' % (itemDetails[0].VariantPrice | float ) }} </b></h4>
			<br>
			<h4> <b>${{ '%0.2f' % ((itemDetails[0].VariantPrice | float) * (itemDetails[1] | float)) }}</b> </h4> 
		</div>

	</div>



	{% endfor %}


	

{% else %}

<h4> Your cart is empty </h4>

{% endif %}

