	{% extends "store/base.html" %}

	{% block page_title %}
		<title> Order successfully placed </title>
	{% endblock page_title %}

	{% block page_content %}

		<hr>
		<h3 class="h3-inline"> Thank you for your order! (Order # {{ data.order_details.order_id }}) </h3> 
		<hr>
		<div class="row">
			<div class="col-xs-6" id="table_checkout">	
					<div class="row">	
						<div id="order_shipping_info" class="col-xs-6">
								<h4> Shipping info: </h4>
								<h5 id="order_ShippingName"> {{ data.order_details.ShippingFirstName }} </h5> <br>
								<h5 id="order_ShippingAddress1"> {{ data.order_details.ShippingAddress }}</h5> <br>
								<h5 id="order_ShippingAddress2"> {{ data.order_details.ShippingAddress2 }}</h5> 
								<h5 id="order_ShippingCity"> {{ data.order_details.ShippingCity }}</h5>, <h5 id="order_ShippingState"> {{ data.order_details.ShippingState }} </h5> <h5 id="order_ShippingPostalCode"> {{ data.order_details.ShippingPostalCode }} </h5>  <br>
								<h5 id="order_ShippingCountry"> {{ data.order_details.ShippingCountry }} </h5> <br>
						</div>
							
						<div id="order_billing_info" class="col-xs-6">
								<h4> Billing info: </h4>
								<h5 id="order_BillingName"> {{ data.order_details.BillingFirstName }} </h5> <br>
								<h5 id="order_BillingAddress1"> {{ data.order_details.BillingAddress }}</h5> <br>
								<h5 id="order_BillingAddress2"> {{ data.order_details.BillingAddress2 }}</h5> 
								<h5 id="order_BillingCity"> {{ data.order_details.BillingCity }}</h5>, <h5 id="order_BillingState"> {{ data.order_details.BillingState }} </h5><h5 id="order_BillingPostalCode"> {{ data.order_details.BillingPostalCode }} </h5> <br>
								<h5 id="order_BillingCountry"> {{ data.order_details.BillingCountry }} </h5> <br>
						</div>
					</div>
			</div>

			<div class="col-xs-6">
				<h4 class="h3-inline text-center"> Order details: &nbsp;&nbsp;<span class="glyphicon glyphicon-list-alt"> </span></h4>
				<hr>

				{{ data.page_content.cart_details | safe }}
			</div>
		</div>
	{% endblock page_content %}