<div class="row">
	<div class="col-sm-6" id="product_images">
		<div id="main_product_img">
			{% if image_resources %}
					<input type="hidden" class="main_product_img_src" value="{{image_resources[product["ImageSrc"] | int] }}" id="product_{{product.product_id}}_thumbnail">	
				{% else %}
					<input type="hidden" class="main_product_img_src" value="{{product.ImageSrc}}" id="product_{{product.product_id}}_thumbnail">	
				{% endif %}
		 </div>
		
		{% if variants %}
			<div class="variant_images text-center">
				<hr>

			{% for variant in variants %}
				<div class="variant_product_img"><input type="hidden" class="variant_product_img_src" value="{{image_resources[variant["VariantImg"] | int]}}"> </div>
				
			{% endfor %}
			</div>
		{% endif %}
	</div>

	<div class="col-sm-6" id="product_details">
		<h4> {{ product.Title }} | &nbsp; <b> ${{product.VariantPrice}} </b></h4> 
		<div class="product_description">
			<hr>
			{{ product.BodyHTML | safe }}
		</div>
		<div class="variant_selection text-center">
			<hr>
		{% if variants %}
			{% for variantOption, variantValues in variant_types.iteritems() %}
				<h3 class="h4-select-variant"> {{variantOption}}: &nbsp;&nbsp;</h3>
				<select class="variant_choice" id="product_{{variantOption}}">

					{% for variantValue in variantValues %}
						<option value="{{variantValue}}"> {{variantValue}} </option>
					{% endfor %}
				</select>
				<hr>
			{% endfor %}
			
			<select id="available_variants"> 
				{% for variant in availableVariants %}
						<option>{{variant}}</option>
				{% endfor %}
			</select>

			<select id="available_variant_sku">
				{% for variant in variants %}
					<option value="{{variant.VariantSKU}}">{{variant.VariantData}}</option>
				{% endfor %}		
			</select>
		{% endif %}

		</div>
		<div class="add_to_cart text-center">
			<h4> Quantity: </h4>
			<select id="cart_quantity">
				<option value="1"> 1 </option>
				<option value="2"> 2 </option>
				<option value="3"> 3 </option>
				<option value="4"> 4 </option>
				<option value="5"> 5 </option>
				<option value="6"> 6 </option>
				<option value="7"> 7 </option>
				<option value="8"> 8 </option>
				<option value="9"> 9 </option>
			</select>
			<button type="button" class="btn btn-default" id="btn_addToCart"> Add to cart  &nbsp;&nbsp;<span id="cart_link" class="glyphicon glyphicon-shopping-cart black"></button>
			

			<input type="hidden" id="selectedProduct" value="{{product.product_id}};1">
			{% if variants %}
				<input type="hidden" id="has_variants" value="true">
			{% else %}
				<input type="hidden" id="has_variants" value="false">
			{% endif %}
			<hr>

		</div>


	</div>

</div>