

	<div class="row">
		<h4 class="h4-inline"> Contact Information </h4>
		<div class="col-xs-12" >
			<div class="input-group">
				<span class="input-group-addon placeholder_addon glyphicon glyphicon-envelope"></span>
				<input type="text" class="form-control customer_info_input" data-fieldID="Email" placeholder="Email" value="{% if saved_customer_data.Email %}{{ saved_customer_data.Email }}{% endif %}">
			</div>
			
		</div>


		<div class="col-xs-12">
			<div class="input-group">
				<span class="input-group-addon placeholder_addon glyphicon glyphicon-earphone"></span>
				<input type="text" class="form-control customer_info_input" placeholder="Phone number (optional)" data-fieldID="Phone">
			</div>
		</div>


		<div class="col-xs-12">
			<div class="input-group">
				<input type="text" class="form-control customer_info_input" placeholder="Company (optional)" data-fieldID="Company">
			</div>
			<hr>
		</div>

	</div>

<!-- start billing info container -->
	<div class="row" id="billing_info_container">
		<div class="col-xs-12">
			<h4 class="h4-inline"> Billing Address </h4>
			<div class="btn-group" role="group" aria-label="ship_to_address" id="ship_to_address_grp">
				<label class="btn btn-default"> <input type="checkbox" id="chk_ship_to_address" checked> Ship to this address </label>	
			</div>
		</div>

		<div class="col-xs-6"> 
			<div class="input-group">
				<input type="text" class="form-control customer_info_input"  data-fieldID="BillingFirstName" placeholder="First name" value="{% if saved_customer_data.BillingFirstName %} {{ saved_customer_data.BillingFirstName }}{% endif %}">
			</div>
		</div>

		<div class="col-xs-6"> 
			<div class="input-group">
				<input type="text" class="form-control customer_info_input" placeholder="Last name" data-fieldID="BillingLastName" value="{% if saved_customer_data.BillingLastName %} {{ saved_customer_data.BillingLastName }}{% endif %}">
			</div>

		</div>
		
		<div class="col-xs-8"> 
			<div class="input-group">
				<input type="text" class="form-control customer_info_input" placeholder="Address" data-fieldID="BillingAddress1" value="{% if saved_customer_data.BillingAddress1 %} {{ saved_customer_data.BillingAddress1 }}{% endif %}">
			</div>
		</div>

		<div class="col-xs-4"> 
			<div class="input-group">
				<input type="text" class="form-control customer_info_input" placeholder="Apt, suite, etc." data-fieldID="BillingAddress2" value="{% if saved_customer_data.BillingAddress2 %} {{ saved_customer_data.BillingAddress2 }}{% endif %}">
			</div>
		</div>

		<div class="col-xs-12">
			<div class="input-group">
				<input type="text" class="form-control customer_info_input" placeholder="City" data-fieldID="BillingCity" value="{% if saved_customer_data.BillingCity %} {{ saved_customer_data.BillingCity}}{% endif %}">
			</div>
		</div>

		<div class="col-xs-5"> 
			<div class="input-group">
				<select class="form-control customer_info_input" placeholder="Country" data-fieldID="BillingCountry">
					{{ country_options | safe }}
				</select>
			</div>
		</div>

		<div class="col-xs-4"> 
			<div class="input-group">
			<input type="text" class="form-control customer_info_input" placeholder="State" data-fieldID="BillingState" value="{% if saved_customer_data.BillingState %} {{ saved_customer_data.BillingState}}{% endif %}">
			</div>
		</div>

		<div class="col-xs-3"> 
			<div class="input-group">
				<input type="text" class="form-control customer_info_input" placeholder="Zip code" data-fieldID="BillingPostalCode" value="{% if saved_customer_data.BillingPostalCode %} {{ saved_customer_data.BillingPostalCode }}{% endif %}">
			</div>
		</div>
	</div>
<!-- end billing info container -->

<!-- start shipping info container -->
<div class="row" id="shipping_info_container">
	<hr>
		<div class="col-xs-12">
			<h4 class="h4-inline"> Shipping Address </h4>
		</div>

		<div class="col-xs-6"> 
			<div class="input-group">
				<input type="text" class="form-control customer_info_input"  data-fieldID="ShippingFirstName" placeholder="First name" value="{% if saved_customer_data.ShippingFirstName %} {{ saved_customer_data.ShippingFirstName }}{% endif %}">
			</div>
		</div>

		<div class="col-xs-6"> 
			<div class="input-group">
				<input type="text" class="form-control customer_info_input" placeholder="Last name" data-fieldID="ShippingLastName" value="{% if saved_customer_data.ShippingLastName %} {{ saved_customer_data.ShippingLastName }}{% endif %}">
			</div>

		</div>

		<div class="col-xs-8"> 
			<div class="input-group">
				<input type="text" class="form-control customer_info_input" placeholder="Address" data-fieldID="ShippingAddress1" value="{% if saved_customer_data.ShippingAddress1 %} {{  saved_customer_data.ShippingAddress1 }}{% endif %}">
			</div>
		</div>

		<div class="col-xs-4"> 
			<div class="input-group">
				<input type="text" class="form-control customer_info_input" placeholder="Apt, suite, etc." data-fieldID="ShippingAddress2" value="{% if  saved_customer_data.2 %} {{  saved_customer_data.ShippingAddress2 }}{% endif %}">
			</div>
		</div>

		<div class="col-xs-12">
			<div class="input-group">
				<input type="text" class="form-control customer_info_input" placeholder="City" data-fieldID="ShippingCity" value="{% if  saved_customer_data.ShippingCity %} {{ saved_customer_data.ShippingCity }}{% endif %}">
			</div>
		</div>

		<div class="col-xs-5"> 
			<div class="input-group">
				<select class="form-control customer_info_input" placeholder="Country" data-fieldID="ShippingCountry">
					{{ country_options | safe }}
				</select>
			</div>
		</div>

		<div class="col-xs-4"> 
			<div class="input-group">
			<input type="text" class="form-control customer_info_input" placeholder="State" data-fieldID="ShippingState" value="{% if saved_customer_data.ShippingState %} {{ saved_customer_data.ShippingState }}{% endif %}">
			</div>
		</div>

		<div class="col-xs-3"> 
			<div class="input-group">
				<input type="text" class="form-control customer_info_input" placeholder="Zip code" id="customer_ShippingPostalCode" data-fieldID="ShippingPostalCode" value="{% if saved_customer_data.ShippingPostalCode %} {{ saved_customer_data.ShippingPostalCode }}{% endif %}">
			</div>
		</div>
</div>
<!-- end shipping info container -->

<!-- start payment info container -->
	<div class="row" id="payment_info_container">
		<h4 class="h4-inline"> Payment Information </h4>
		<div class="col-xs-12">
			<div class="input-group">
				<span class="input-group-addon placeholder_addon glyphicon glyphicon-credit-card"></span>
				<input type="text" class="form-control customer_info_input" id="customer_cc" data-fieldID="cc" placeholder="Credit Card">
			</div>

		</div>

		<div class="col-xs-6"> 
			<div class="input-group">
				<span class="input-group-addon placeholder_addon glyphicon glyphicon-lock"></span>
				<input type="text" class="form-control customer_info_input"  id="customer_cvc" data-fieldID="cvc" placeholder="Security code">
			</div>
		</div>

		<div class="col-xs-6"> 
			<div class="input-group">
				<span class="input-group-addon placeholder_addon glyphicon glyphicon-calendar"></span>
				<input type="text" class="form-control customer_info_input" id="customer_exp" placeholder="Expiration date" data-fieldID="exp">
			</div>

		</div>


	</div>

	<div class="row" id="checkout_actions">
	<hr>
		<div class="col-xs-12"> 
			<div class="btn-group" role="group" aria-label="checkout_browser" id="checkout_action_bar">
				<button type="button" class="btn btn-default disabled" id="btn_checkoutPrevious"> <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;&nbsp;&nbsp;<span id="previous_message"></span> </button> 
				<button type="button" class="btn btn-default disabled" id="btn_checkoutNext"> <span id="next_message">Continue to payment</span> &nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-right"></span> </button> 
			</div>
		</div>
	</div>


<!-- <span class="input-group-addon valid_entry glyphicon glyphicon-ok green"></span>  -->
<!-- <span class="input-group-addon invalid_entry glyphicon glyphicon-remove red"></span> -->