{% block page_content %}
<div class="row">
	<div class="col-xs-12 banner">
	<h4 id="h4_banner"> <span class="glyphicon glyphicon-user"></span> &nbsp;  <a href="/control/customers/">Customers</a> </h4>

		<button type="button" class="btn btn-primary" id="btn_addProduct">Add customer</button>
	</div>
</div>

<div class="row">
	<div class="col-xs-12" id="search_customers">
		{{ control_data.customerSearchPanel | safe }}
	</div>
</div>
	
{{ control_data.customerActionPanel  | safe }}

<div class="row">
	<div class="col-xs-12 tab_content">
	<!-- Begin order main content div -->
		<div class="container-fluid main-content-container-sm">
			<div class="row">
				<br>
				<!-- Begin: main order list div (left aligned) -->
				<div class="col-xs-12 main_panel">
					<ul class="nav nav-tabs">
					  <li class="active"><a data-toggle="tab" href="#all_customers">All customers</a></li>
					  <li><a data-toggle="tab" href="#marketing_customers">Accepts marketing</a></li>
					  <li><a data-toggle="tab" href="#repeat_customers">Repeat Customers</a></li>
					</ul>

					<div class="tab-content">
		  				<div id="all_customers" class="tab-pane fade in active">
		  				<br>
		   					{{ control_data.table_customersAll | safe }}
		  				</div>
		  
		  				<div id="marketing_customers" class="tab-pane fade">
		  				 <br>
		    				{{ control_data.table_customersAcceptMarketing | safe }}
		  				</div>

		  				<div id="repeat_customers" class="tab-pane fade">
		  				<br>
		   					{{ control_data.table_customersRepeat | safe }}
		  				</div>



				   </div>
		 		</div>
			</div>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-xs-12" id="footer_products">			
	</div>
</div>


{% endblock page_content %}