


<!-- begin: modal is for updating the current order's shipping address -->

<div id="modal_editShippingAddress" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit shipping address: </h4>
      </div>

      <div class="modal-body">
        <div class="form-group">

        	<div class="row">
        		<div class="col-xs-6">
    				<h5> First name: </h5>
    			</div>
    			<div class="col-xs-6">
    				<h5> Last name: </h5>
    			</div>
    		</div>

        	<div class="row">
        		<div class="col-xs-6">
    				<input type="text" class="form-control editor_input_field" id="ShippingFirstName_input" value="{{customer_data.ShippingFirstName}}">
    			</div>
    			<div class="col-xs-6">
    				<input type="text" class="form-control editor_input_field" id="ShippingLastName_input" value="{{customer_data.ShippingLastName}}">
    			</div>
    		</div>


        	<div class="row">
        		<div class="col-xs-6">
    				<h5> Address: </h5>
    			</div>
    			<div class="col-xs-6">
    				<h5> Address (cont.): </h5>
    			</div>
    		</div>

        	<div class="row">
        		<div class="col-xs-6">
    				<input type="text" class="form-control editor_input_field" id="ShippingAddress1_input" value="{{customer_data.ShippingAddress1}}">
    			</div>
    			<div class="col-xs-6">
    				<input type="text" class="form-control editor_input_field" id="ShippingAddress2_input" value="{% if customer_data.ShippingAddress2 %}{{customer_data.ShippingAddress2}}{% endif %}">
    			</div>
    		</div>


    		 <div class="row">
        		<div class="col-xs-6">
    				<h5> City: </h5>
    			</div>
    			<div class="col-xs-6">
    				<h5> Country (cont.): </h5>
    			</div>
    		</div>

        	<div class="row">
        		<div class="col-xs-6">
    				<input type="text" class="form-control editor_input_field" id="ShippingCity_input" value="{{customer_data.ShippingCity}}">
    			</div>
    			<div class="col-xs-6">
    				<select class="form-control editor_input_field" id="ShippingCountry_input">
    				<option> United States </option>
    				<option> China </option>
    				</select>
    			</div>
    		</div>


    		<div class="row">
        		<div class="col-xs-6">
    				<h5> State: </h5>
    			</div>
    			<div class="col-xs-6">
    				<h5> Zip code (cont.): </h5>
    			</div>
    		</div>

        	<div class="row">
        		<div class="col-xs-6">
        		   	<select class="form-control editor_input_field" id="ShippingState_input">
	    				<option> NY </option>
	    				<option> MN </option>
    				</select>
    			</div>
    			<div class="col-xs-6">
					<input type="text" class="form-control editor_input_field" id="ShippingPostalCode_input" value="{{customer_data.ShippingPostalCode}}">
    			</div>
    		</div>
      </div>
      <div class="modal-footer">
      	<button type="button" class="btn btn-primary" data-dismiss="modal" id="btn_updateShippingInfo">Update</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
</div>

<!-- end: modal is for updating the current order's shipping address -->


<div id="modal_saveCustomer" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Save customer data</h4>
      </div>
      <div class="modal-body">
        Are you sure you wish to save these changes? 
            <button type="button" class="btn btn-primary" id="btn_confirmCustomerChanges" data-dismiss="modal">Confirm Changes</button>
            <button type="button" class="btn btn-warning" id="btn_closeModal" data-dismiss="modal">Cancel</button>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<div id="modal_editContactInfo" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit contact information</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">

            <div class="row">
                <div class="col-xs-6">
                    <h5> Email: </h5>
                </div>
                <div class="col-xs-6">
                    <h5> Phone #: </h5>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <input type="text" class="form-control editor_input_field" id="Email_input" value="{{customer_data.Email}}">
                </div>
                <div class="col-xs-6">
                    <input type="text" class="form-control editor_input_field" id="Phone_input" value="{{customer_data.Phone}}">
                </div>
            </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="btn_updateContactInfo">Update</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>