<!-- this template is for an input group for customer searching within the admin control panel, allowing for customer filtering and the like. -->

<div class="btn-group customer_search_group" role="group" aria-label="customer selection">
		<input type="text"  id="customer_search_input" placeholder="Start typing to search for a customer...">
		
	<select class="btn btn-default" id="search_filter">
		 <option value="customer_id"> Customer ID </option>
		 <option value="customer_name" selected> Customer </option>
	</select>

	  	<button class="btn btn-default" type="submit" id="submit_customer_search">
    		<span class="glyphicon glyphicon-search"></span>
  		</button>
</div>

    

  <hr class="unpadded_hr">