{% block page_content %}

<div class="row">
	<div class="col-xs-12 banner">
	<h4 id="h4_banner"> <span class="glyphicon glyphicon-credit-card"></span> &nbsp;  <a href="/control/orders/">Orders</a> / <a href="/control/orders/{{control_data.order_id}}">#{{ control_data.order_id }}</a> / Fulfillment &nbsp;<span class="glyphicon glyphicon-pencil"></span> </h4>


		<a href="/control/orders/{{control_data.order_id}}"> <button type="button" class="btn btn-primary btn_float_right" id="btn_cancelFulfillment" data-toggle="modal" data-target="#modal_cancelFulfillment"> Cancel <span class="glyphicon glyphicon-check"> </span> </button> </a>
	</div>
</div>


<div class="row">
	<!-- Begin fulfillment editor content div -->

	<div class="col-xs-12 tab_content">

		<div class="container-fluid order-fulfillment-container">

		<div class="row">
		<!-- begin fulfillment editor left panel -->
			<div class="col-lg-9 flex-panel">
				
				<!-- begin fulfillment details panel -->
				<div class="panel panel-default" id="panel_fulfillment_details">
					<h4> <a href="/control/orders/{{control_data.order_id}}"><button type="button" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-chevron-left"></span> &nbsp; Back to order </button></a>
					
					<br>
					<!-- begin order details -->
					<div class="row">
						<!-- begin fulfillment toolbar  -->
						<div id="fulfullment-toolbar-container">
							<div class="row">
								<hr>
								<div class="col-xs-12">
									<button type="button" id="btn_createNewShipment" class="btn btn-primary btn-lg disabled" data-target="#modal_createShipment"> Create new shipment &nbsp;<span class="glyphicon glyphicon-plus"></span> </button>
									<button type="button" id="btn_markFulfilled" class="btn btn-success btn-lg disabled" data-target="#modal_markFulfilled"> Mark as fulfilled 
									&nbsp;<span class="glyphicon glyphicon-ok"></span></button>

								</div>
							</div>
						</div>
						<!-- end fulfillment toolbar -->
						<hr>
						<!-- begin order products table -->
						<div class="col-xs-12">
							{{ control_data.table_orderProducts | safe }}

						</div>
						<!-- end order products table -->
					
					<!-- begin order shipments viewer -->
						<div class="col-xs-12">
							<h4> Order shipments </h4>
							<hr>
							<div id="order_shipment_details">
							</div>
							<!-- populate shipment data for this order -->
							{% if control_data.shipping_data %}

								{% for shipment_id, shipment_data in control_data.shipping_data.iteritems() %}
									<input type="hidden" class="shipment-data" data-shipmentID="{{shipment_id}}" value="{{shipment_data}}">
								{% endfor %}
							{% endif %}

						</div>
						<!-- begin order shipments viewer -->
					</div>
					<!-- begin order details -->

					<br>
					</div>
						
			</div>
			<!-- end fulfillment editor left panel -->

		<!-- begin fulfillment editor right panel -->
			<div class="col-lg-3 flex-panel">
			<!-- begin order customer panel -->
				<div class="panel panel-default padded_panel" id="panel_order_customer">					
					<h4> Shipping Information <a href="#" data-toggle="modal" data-target="#modal_editShippingAddress" style="float:right;"> Edit </a> </h4>
					<hr>
					<div class="customer_info_address">
						<a href="#"> {{control_data.order_data.ShippingFirstName}} {{control_data.order_data.ShippingLastName}} </a> <br>
						{{ control_data.order_data.ShippingAddress }} <br>
						{{ control_data.order_data.ShippingCity }} {{ control_data.order_data.ShippingState }}, {{ control_data.order_data.ShippingPostalCode }} <br>
						{{ control_data.order_data.ShippingCountry }}
					</div>

			<!-- containers to store shipping addresses upon template load -->
			<input type="hidden" class="shipping-address-to-data" data-fieldID="ShippingFirstName" value="{{control_data.order_data.ShippingFirstName}}">
			<input type="hidden" class="shipping-address-to-data" data-fieldID="ShippingLastName" value="{{control_data.order_data.ShippingLastName}}">
			<input type="hidden" class="shipping-address-to-data" data-fieldID="ShippingAddress" value="{{control_data.order_data.ShippingAddress}}">
			<input type="hidden" class="shipping-address-to-data" data-fieldID="ShippingAddress2" value="{{control_data.order_data.ShippingAddress2}}">
			<input type="hidden" class="shipping-address-to-data" data-fieldID="ShippingCity" value="{{control_data.order_data.ShippingCity}}">
			<input type="hidden" class="shipping-address-to-data" data-fieldID="ShippingState" value="{{control_data.order_data.ShippingState}}">
			<input type="hidden" class="shipping-address-to-data" data-fieldID="ShippingPostalCode" value="{{control_data.order_data.ShippingPostalCode}}">
			<input type="hidden" class="shipping-address-to-data" data-fieldID="ShippingCountry" value="{{control_data.order_data.ShippingCountry}}">


			<input type="hidden" class="shipping-address-from-data" data-fieldID="ShippingFirstName" value="{{control_data.shipping_address_from.ShippingFirstName}}">
			<input type="hidden" class="shipping-address-from-data" data-fieldID="ShippingLastName" value="{{control_data.shipping_address_from.ShippingLastName}}">
			<input type="hidden" class="shipping-address-from-data" data-fieldID="ShippingAddress1" value="{{control_data.shipping_address_from.ShippingAddress1}}">
			<input type="hidden" class="shipping-address-from-data" data-fieldID="ShippingAddress2" value="{{control_data.shipping_address_from.ShippingAddress2}}">
			<input type="hidden" class="shipping-address-from-data" data-fieldID="ShippingCity" value="{{control_data.shipping_address_from.ShippingCity}}">
			<input type="hidden" class="shipping-address-from-data" data-fieldID="ShippingState" value="{{control_data.shipping_address_from.ShippingState}}">
			<input type="hidden" class="shipping-address-from-data" data-fieldID="ShippingPostalCode" value="{{control_data.shipping_address_from.ShippingPostalCode}}">
			<input type="hidden" class="shipping-address-from-data" data-fieldID="ShippingCountry" value="{{control_data.shipping_address_from.ShippingCountry}}">

				</div>
				<!-- end order customer panel -->

				<!-- begin fulfillment summary panel -->
				<div class="panel panel-default padded_panel" id="panel_fulfillment_summary">					
					<h4> Summary </h4>
					<hr>

					

				</div>
				<!-- end fulfillment summary panel -->
			</div>
		<!-- end fulfillment editor right panel -->


		</div>
	</div>
	<!-- End fulfillment editor content div -->
</div>
</div>

	<div class="row">
		<div class="col-xs-12 control_panel_footer">	
		</div>
	</div>


<input type="hidden" id="order_id" value="{{control_data.order_data.order_id}}">


{% for modal in control_data.fulfillment_editor_modals %}
		{{ modal | safe }}
{% endfor %}

{% endblock page_content %}