<div id="modal_createShipment" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create a new shipment </h4>
      </div>
      <!-- begin shipment label creation body -->
      <div class="modal-body">
      

      </div>
      <!-- end shipment label creation body -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="btn_addNewSection">Generate Shipping Label</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>



