{% block page_content %}

<div class="row">
	<div class="col-xs-12 banner">
	<h4 id="h4_banner"> <span class="glyphicon glyphicon-credit-card"></span> &nbsp;  <a href="/control/orders/">Orders</a> / New Draft &nbsp;&nbsp;<span class="glyphicon glyphicon-pencil"></span> </h4>
		<button type="button" class="btn btn-primary btn-floated" id="btn_saveDraft" data-toggle="modal" data-target="#modal_printOrder">Save Draft&nbsp;&nbsp;<span class="glyphicon glyphicon-floppy-disk"> </span> </button>

	</div>	
</div>


<div class="row">
	<!-- Begin draft editor content div -->
	<div class="col-xs-12 tab_content">
		<div class="row">
		<!-- begin draft editor left panel -->
			<div id="draft_step_1" class="draft-step">
				<div class="col-md-6" id="order_editor_left_panel">
					<div class="panel panel-default padded-panel">
						<div class="btn-group product_search_group" role="group" aria-label="product selection">
								<input type="text"  id="product_search_input" placeholder="Start typing to search for a product...">
								
							<select class="btn btn-default" id="search_filter">
								 <option value="Title"> Title </option>
								 <option value="Tags"> Tag </option>
								 <option value="SKU"> SKU </option>
							</select>


						</div>

						<div id="product_search_results">
							<table class="table table-bordered table-hover">
							<thead>
							 	<th class="th_select">  </th>
							 	<th> Product </th>
							 	<th> SKU </th>
							 	<th> Quantity </th>
							 	</thead>
							<tbody id="tbody_product_results">
							
							{% for product_id, product in control_data.products.iteritems() %}
								<tr class="product_row" data-productID="{{product_id}}">
								<td> 
						 			<label class="btn btn-default select_container">
						           		<input type="checkbox" class="selectTableItem" data-productID="{{product_id}}">
						        	</label> 
						 		</td>

								<td> {{product["Title"]}} </td>
								<td> {{product["VariantSKU"]}} </td>
								<td> 
									<select class="form-control select_product_qty" data-productID="{{product_id}}">
										<option value="1"> 1 </option>
										<option value="2"> 2 </option>
										<option value="3"> 3 </option>
										<option value="4"> 4 </option>
										<option value="5"> 5 </option>
										<option value="6"> 6 </option>
										<option value="7"> 7 </option>
										<option value="8"> 8 </option>
										<option value="9"> 9 </option>
									</select>
								</td>
							</tr>

							{% endfor %}
							</tbody>
							</table>
						</div>

						<button type="button" class="btn btn-success" id="btn_addToOrder"> Add to order &nbsp;&nbsp; <span class="glyphicon glyphicon-plus-sign"></span></button>
					</div>
				</div>
			<!-- end draft editor left panel -->
			
			<!-- begin draft editor right panel -->
				<div class="col-md-6" id="order_editor_right_panel">

				<div class="panel panel-default padded-panel text-center">
				<h4> Order details </h4>
				<hr>
				<div id="order_products">
					<table class="table table-bordered table-hover" id="table_order_products">
						<thead>
						 	<th class="th_select">  </th>
						 	<th> Product </th>
						 	<th> SKU </th>
						 	<th> Quantity </th>
						 	</thead>
						<tbody id="tbody_order_products"></tbody>
					</table>
				</div>
				<button type="button" class="btn btn-danger" id="btn_deleteFromOrder"> Delete from order &nbsp;&nbsp; <span class="glyphicon glyphicon-minus-sign"></span></button>


				<div id="no_orders" class="text-center">
					<h4> You haven't added any products yet. </h4><hr>
				</div>

				</div>

				</div>
			<!-- end draft editor right panel -->
			
		</div>
		<div id="draft_step_2" class="draft-step">
			<div class="col-md-6" id="order_editor_left_panel">
				<div class="panel panel-default padded-panel text-center">
					<h4> Customer Contact Information </h4>
					<hr>

					<div class="row">
						<div class="col-xs-12" >
							<div class="input-group customer_info_input">
								<span class="input-group-addon placeholder_addon glyphicon glyphicon-envelope"></span>
								<input type="text" class="form-control" id="customer_Email" placeholder="Email">
							</div>
							
						</div>


						<div class="col-xs-12">
							<div class="input-group customer_info_input">
								<span class="input-group-addon placeholder_addon glyphicon glyphicon-earphone"></span>
								<input type="text" class="form-control" placeholder="Phone number (optional)" id="customer_Phone">
							</div>
						</div>

						<div class="col-xs-12">
							<div class="input-group customer_info_input">
								<input type="text" class="form-control" placeholder="Company (optional)" id="customer_Company">
							</div>
						</div>

					</div>
				</div>
			</div>

			<div class="col-md-6" id="order_editor_right_panel">
				<div class="panel panel-default padded-panel">
					<!-- start billing info container -->
					<div class="row" id="billing_info_container">
						<div class="col-xs-12">
							<h4 class="h4-inline"> Billing Address </h4>
							<div class="btn-group" role="group" aria-label="ship_to_address" id="ship_to_address_grp">
								<label class="btn btn-default"> <input type="checkbox" id="chk_ship_to_address" checked> Ship to this address </label>	
							</div>
						</div>

						<div class="col-xs-6"> 
							<div class="input-group customer_info_input">
								<input type="text" class="form-control"  id="customer_BillingFirstName" placeholder="First name">
							</div>
						</div>

						<div class="col-xs-6"> 
							<div class="input-group customer_info_input">
								<input type="text" class="form-control" placeholder="Last name" id="customer_BillingLastName">
							</div>

						</div>
						
						<div class="col-xs-8"> 
							<div class="input-group customer_info_input">
								<input type="text" class="form-control" placeholder="Address" id="customer_BillingAddress1">
							</div>
						</div>

						<div class="col-xs-4"> 
							<div class="input-group customer_info_input">
								<input type="text" class="form-control" placeholder="Apt, suite, etc." id="customer_BillingAddress2">
							</div>
						</div>

						<div class="col-xs-12">
							<div class="input-group customer_info_input">
								<input type="text" class="form-control" placeholder="City" id="customer_BillingCity">
							</div>
						</div>

						<div class="col-xs-5"> 
							<div class="input-group customer_info_input">
								<select class="form-control" placeholder="Country" id="customer_BillingCountry">
									
								</select>
							</div>
						</div>

						<div class="col-xs-4"> 
							<div class="input-group customer_info_input">
							<input type="text" class="form-control" placeholder="State" id="customer_BillingState" >
							</div>
						</div>

						<div class="col-xs-3"> 
							<div class="input-group customer_info_input">
								<input type="text" class="form-control" placeholder="Zip code" id="customer_BillingPostalCode">
							</div>
						</div>
					</div>
				<!-- end billing info container -->

				<!-- start shipping info container -->
				<div class="row" id="shipping_info_container">
					<hr>
						<div class="col-xs-12">
							<h4 class="h4-inline"> Shipping Address </h4>
						</div>

						<div class="col-xs-6"> 
							<div class="input-group customer_info_input">
								<input type="text" class="form-control"  id="customer_ShippingFirstName" placeholder="First name">
							</div>
						</div>

						<div class="col-xs-6"> 
							<div class="input-group customer_info_input">
								<input type="text" class="form-control" placeholder="Last name" id="customer_ShippingLastName">
							</div>

						</div>

						<div class="col-xs-8"> 
							<div class="input-group customer_info_input">
								<input type="text" class="form-control" placeholder="Address" id="customer_ShippingAddress1">
							</div>
						</div>

						<div class="col-xs-4"> 
							<div class="input-group customer_info_input">
								<input type="text" class="form-control" placeholder="Apt, suite, etc." id="customer_ShippingAddress2">
							</div>
						</div>

						<div class="col-xs-12">
							<div class="input-group customer_info_input">
								<input type="text" class="form-control" placeholder="City" id="customer_ShippingCity">
							</div>
						</div>

						<div class="col-xs-5"> 
							<div class="input-group customer_info_input">
								<select class="form-control" placeholder="Country" data-fieldID="ShippingCountry">
									
								</select>
							</div>
						</div>

						<div class="col-xs-4"> 
							<div class="input-group customer_info_input">
							<input type="text" class="form-control" placeholder="State" data-fieldID="ShippingState" >
							</div>
						</div>

						<div class="col-xs-3"> 
							<div class="input-group customer_info_input">
								<input type="text" class="form-control" placeholder="Zip code" data-fieldID="ShippingPostalCode">
							</div>
						</div>
				</div>
				<!-- end shipping info container -->
				</div>
			</div>

		</div>

		<div id="draft_step_3" class="draft-step">
			<div class="col-md-6" id="order_editor_left_panel">
				<div class="panel panel-default padded-panel">
					
				</div>
			</div>
			<div class="col-md-6" id="order_editor_right_panel">
				<div class="panel panel-default padded-panel">
					
				</div>
			</div>

		</div>

	</div>

		<div class="row">
			<div class="col-xs-12 text-center" id="draft_step_navigation">
					<button type="button" class="btn btn-default" id="btn_previous"> <span class="glyphicon glyphicon-arrow-left"> </span>  &nbsp; Previous step </button>
					<button type="button" class="btn btn-default" id="btn_next"> Next step &nbsp;<span class="glyphicon glyphicon-arrow-right"> </span> </button>
			</div>
		</div>
	</div>
	<!-- End draft editor content div -->
</div>


<div class="row">
	<div class="col-xs-12 " id="footer_products">	

		
	</div>
</div>

{% for product_id, product in control_data.products.iteritems() %}
	<input type="hidden" class="product_data" id="product_data_{{product_id}}" value="{{product}}">
{% endfor %}



{% endblock page_content %}