<!-- this template is for an input group for order searching within the admin control panel, allowing for order filtering and the like. -->

<div class="btn-group order_search_group" role="group" aria-label="order selection">
		<input type="text"  id="order_search_input" placeholder="Start typing to search for an order...">
		
	<select class="btn btn-default" id="search_filter">
		 <option value="order_id"> Order ID </option>
		 <option value="customer_name" selected> Customer </option>
	</select>

	  	<button class="btn btn-default" type="submit" id="submit_order_search">
    		<span class="glyphicon glyphicon-search"></span>
  		</button>
</div>

    

  <hr class="unpadded_hr">