
<div id="order_products_table">
		<div class="row" id="order_products_row">
			{% for product_id, product in products.iteritems() %}
				<div class="col-sm-3 order_product_container">
					
					<a href="/control/products/{{product_id}}">
						<h4 class="order_product_title"> {{product.Title}} </h4>	
						<div class="order_product hvr-float" data-productID="{{product_id}}" style="background-image:url('{{product_thumbnails[product_id]}}');">
								
						</div>
					</a>

					<div class="order_product_info" data-productID="{{product_id}}">
							SKU: {{product.VariantSKU}} <br>
							Quantity: {{ product.quantity }} <br>
							Price/Unit: ${{product.VariantPrice}} <br>
							Item total: ${{ '%0.2f' % subtotals[product.VariantSKU] }}
					</div>
				</div>
				<hr class="hidden-sm hidden-md hidden-lg hidden-xl">

			{% endfor %}
		</div>
		<hr>

</div>


