<div class="row powered-by-banner hidden-xs hidden-sm">
	<div class="jumbotron jumbotron-powered-by-banner">
		<div class="container">
			<div class="row">
				<div class="col-sm-2 powered-by-image anchor image-resource hvr-grow" data-anchorID="Banner Image 1" 
						{% if section_data %} 
							style="background-image:url('{{section_data["Banner Image 1"]["anchor_value"]}}');"
						{% endif %}>
				</div>

				<div class="col-sm-2 powered-by-image anchor image-resource hvr-grow" data-anchorID="Banner Image 2" 
						{% if section_data %} 
							style="background-image:url('{{section_data["Banner Image 2"]["anchor_value"]}}');"
						{% endif %}>
				</div>

				<div class="col-sm-2 powered-by-image anchor image-resource hvr-grow" data-anchorID="Banner Image 3" 
						{% if section_data %} 
							style="background-image:url('{{section_data["Banner Image 3"]["anchor_value"]}}');"
						{% endif %}>
				</div>

				<div class="col-sm-2 powered-by-image anchor image-resource hvr-grow" data-anchorID="Banner Image 4"
						{% if section_data %} 
							style="background-image:url('{{section_data["Banner Image 4"]["anchor_value"]}}');"
						{% endif %}>
				</div>

				<div class="col-sm-2 powered-by-image anchor image-resource hvr-grow" data-anchorID="Banner Image 5"
						{% if section_data %} 
							style="background-image:url('{{section_data["Banner Image 5"]["anchor_value"]}}');"
						{% endif %}>
				</div>

				<div class="col-sm-2 powered-by-image anchor image-resource hvr-grow" data-anchorID="Banner Image 6"
						{% if section_data %} 
							style="background-image:url('{{section_data["Banner Image 6"]["anchor_value"]}}');"
						{% endif %}>
				</div>


			</div>
		</div>
	</div>
</div>
