<section class="pricing section">
    <div class="container">
         <div class="price-cols row">
            <div class="items-wrapper col-md-10 col-sm-12 col-xs-12 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
                <div class="item price-1 col-md-4 col-sm-4 col-xs-12 text-center">
                    <div class="item-inner">
                        <div class="heading">
                        <h3 class="title">Personal</h3>
                            <p class="price-figure"><span class="price-figure-inner"><span class="currency">$</span><span class="number">100</span><br /><span class="unit"> per month</span></span></p>
                        </div>
                        <div class="content anchor text-resource" data-anchorID="Basic package">
                            <!-- basic package content -->

                                {% if section_data  %}
                                        {{ section_data["Basic package"]["anchor_value"] | safe }}
                                {% endif %}

                        </div><!--//content-->
                    </div><!--//item-inner-->
                </div><!--//item--> 
                
                <div class="item price-2 col-md-4 col-sm-4 col-xs-12 text-center best-buy">
                    <div class="item-inner">
                        <div class="heading">
                        <h3 class="title">Professional</h3>
                            <p class="price-figure"><span class="price-figure-inner"><span class="currency">$</span><span class="number">200</span><br /><span class="unit">per month</span></span></p>
                        </div>
                        <div class="content anchor text-resource" data-anchorID="Professional package">
                            <!-- professional package content -->

                                {% if section_data  %}
                                        {{ section_data["Professional package"]["anchor_value"] | safe }}
                                {% endif %}
                        </div>
                        <div class="ribbon">
                            <div class="text">Popular</div>
                        </div><!--//ribbon-->
                    </div><!--//item-inner-->
                </div><!--//item-->  
                
                <div class="item price-3 col-md-4 col-sm-4 col-xs-12 text-center">
                    <div class="item-inner">
                        <div class="heading">
                            <h3 class="title">Business</h3>
                            <p class="price-figure"><span class="price-figure-inner"><span class="currency">$</span><span class="number">300</span><br /><span class="unit">per month</span></span></p>
                        </div>
                        <div class="content anchor text-resource" data-anchorID="Business package">
                             <!-- business package content -->

                                {% if section_data  %}
                                        {{ section_data["Business package"]["anchor_value"] | safe }}
                                {% endif %}
                            
                        </div><!--//content-->
                    </div><!--//item-inner-->
                </div><!--//item-->  
            </div><!--//items-wrapper-->                   
        </div><!--//row-->
    </div><!--//container-->
</section><!--//pricing-->