<div class="row services-strip text-center">
	<div class="col-3-sm services-btn anchor text-resource" data-anchorID="btn 1">
		<div class="hexagon-lg hexagon-success hexagon-hover"></div>

	</div>
	<div class="col-3-sm services-btn anchor text-resource" data-anchorID="btn 2">
		<div class="hexagon-lg hexagon-success hexagon-hover"></div>

	</div>
	<div class="col-3-sm services-btn anchor text-resource" data-anchorID="btn 3">
		<div class="hexagon-lg hexagon-success hexagon-hover"></div>

	</div>
	<div class="col-4-sm services-btn anchor text-resource" data-anchorID="btn 4">
		<div class="hexagon-lg hexagon-success hexagon-hover"></div>

	</div>


</div>