{% block page_content %}
<div class="row">
	<div class="col-xs-12 banner">
	<h4 id="h4_banner"> <span class="glyphicon glyphicon-credit-card"></span> &nbsp;  <a href="/control/">Dashboard</a> </h4>
	</div>

</div>

{{ control_data.orderActionPanel | safe }}

<div class="row"> 
	<div class="col-xs-12 tab_content">
	<!-- begin plot container row -->
		<div class="row">
			<div class="col-sm-6">
				<div class="dashboard-widget">
					{{ control_data.plot_script | safe }}
					{{ control_data.plot_div | safe }}
				</div>
			</div>

			<div class="col-sm-8">

			</div>
		</div>
	<!-- end plot container row -->
	</div>
</div>

<div class="row">
	<div class="col-xs-12" id="footer_products">			
	</div>
</div>


{% endblock page_content %}