{% block page_content %}
<div class="row">
	<div class="col-xs-12 banner">
	<h4 id="h4_banner"> <span class="glyphicon glyphicon-credit-card"></span> &nbsp;  <a href="/control/">Dashboard</a> </h4>
	</div>

</div>

{{ control_data.orderActionPanel | safe }}

<div class="row"> 
	<div class="col-xs-12 tab_content">
		<div class="container-fluid dashboard-container">
			<div class="row">
				
			<!-- begin dashboard column containers -->
				<div class="col-lg-12 flex-panel panel panel-default">
				
					{% for tile_id, rendered_tile in control_data.rendered_tiles.iteritems() %}
							{{ rendered_tile | safe }}
					{% endfor %}

					{% for tile_id, rendered_plot in control_data.rendered_plots.iteritems() %}
							{{ rendered_plot | safe }}
					{% endfor %}

				</div>


			<!-- end dashboard column containers -->


			</div>
		</div>
	</div>
</div>
	<!-- end plot container row -->
	</div>
</div>

<div class="row">
	<div class="col-xs-12" id="footer_products">			
	</div>
</div>


{% endblock page_content %}